<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Guess the Breed</title>
</head>
<body>
    <img class = "dog-img" src="https://images.dog.ceo/breeds/sharpei/noel.jpg" alt="">
    <form action="" method="POST" class = "dog-form">
        <input type="submit" name="dog-1" id="" value = "Glorpenfiend1">
        <input type="submit" name="dog-2" id="" value = "Glorpenfiend2">
        <input type="submit" name="dog-3" id="" value = "Glorpenfiend3">
        <input type="submit" name="dog-4" id="" value = "Glorpenfiend4">
    </form>
    
</body>
</html>